# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\TomVa\PhpstormProjects\PHPoverzichtsOefeningen\Overzichtsoefening2\startcode\startcode\oef1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
